@import '../../styles/variaveis';

.servico {
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.titulo h2 {
    color: $branco;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.icone {
    font-size: 50px;
    text-align: center;
    align-items: center;
    margin: 25px 0px;
    color: $branco;
}

.card h5 {
   color: $branco;
   font-size: 23px;
   margin-bottom: 15px; 
}

.descricao {
    color: $branco;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.botao__p {
    text-align: center;
    margin: 20px 0px;
}

.botao__a {
    background-color: $escuro;
    color: $branco;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.botao__a:hover {
    background-color: transparent;
    border: 2px solid $branco;
    cursor: pointer;
}