//Cores
$fundo-escuro-paginas: #191919;
$fundo-escuro-components: #101010;
$elementos-dourados: #d6ae4c;
$branco: #fff;
$preto: #000;


//Fontes
$fonte-oswald : 'Oswald', sans-serif;
$fonte-rubik: 'Rubik', sans-serif;