.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #7d7d7d;
}

.img {
    height: 80px;
    padding: .3rem 3rem;
}

.lista {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.item a:hover {
    border-bottom: 2px solid #222;
    color: #222;
    padding-bottom: 0.2px;
}